* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 920px;
    margin: 0 auto;
}

ul {
    list-style: none;

    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 100%;
    display: block;
    height: auto;}

ul li a{
    text-decoration: none;
    color: white;
}

ul li:hover a{
    opacity: 0.7;
}

.footer-social ul li:hover a{
    color: rgb(255, 126, 28);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

    background-color: rgb(245, 105, 0);
}

nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .container li {
    padding: 5px;
    font-size: .8em;
}

.nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-grow: 1;
}

.container .nav-logo img{
    width: 100px;
    padding: 15px 0;
}

/* footer style */
footer {
    background-color: rgb(19, 19, 19);
    color: white;
}

footer .container {
    padding: 10px 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-social {
    text-align: center;
}

.footer-links li {
    padding-right: 10px;
    font-size: .8rem;
}

.footer-social i {
    padding: 5px;
    font-size: .9rem;
}

/* Card style */

main .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    margin: 90px auto 40px;
}

.card {
    flex-basis: 30%;

    flex-grow: 1;
    margin: 10px;
}

.card-img {
    position: relative;
}

.like {
    position: absolute;
    right: 0;
    top: 2%;

    background-color: white;
    padding: 5px;

    transition: scale 0.3s;
}

.tags {
    display: flex;
    align-items: center;

    position: absolute;
    bottom: 5%;
}

.tag.eco {
    background-color: green;
}

.tag.discount {
    background-color: red;
}

.tag {
    padding: 3px 5px;
    font-size: .8rem;
    color: white;
    margin-right: 5px;
}

.brand {
    font-size: .8rem;
}

.product-description {
    font-weight: bold;
    text-transform: uppercase;
}

.actual-price {
    font-size: .9rem;
    font-weight: bold;
    display: inline-block;
    color: red;
}

.previous-price {
    font-size: .9rem;
    text-decoration: line-through;
}

.hover-img {
    display: none;
}

.card:hover .hover-img {
    display: block;
}

.card:hover img:first-of-type{
    display: none;
}

.like:hover {
    color: rgb(245, 105, 0);
    cursor: pointer;

    scale: 1.2;
}